<form class="loginForm">
    <div>
        <label for="e-mailLogin">E-mail:</label>
        <input type="text" id="e-mailLogin" />
    </div>
    <div>
        <label for="passwordLogin">Password:</label>
        <input type="text" id="passwordLogin" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<form class="singupForm">
     <div>
        <label for="usernameSignup">Username:</label>
        <input type="text" id="usernameSignup">
    </div>
    <div>
        <label for="emailSignup"></label>
        <input type="text" id="emailSignup">
    </div>
     <div>
    <label for="passwordSignup">password:</label>
    <input type="password" id="passwordSignup" />
  </div>
  <div>
    <button type="btn submit">signup</button>
  </div>
</form>


<script src="../public/js/login.js"></script>
</form>